- var isHidden = (skill.tabId && skillIdx > 0 ? 'is-hidden' : '')

.skill-container(class=isHidden, data-tab=`trait-${skill.tabId}`, data-tab-group=slug(skill.name))
  .skill-type #{skill.type}
  if skill.tabs
    .skill-stars
      each tab in skill.tabs
        if tab <= skill.tabId
          a(href='#', data-tab=`trait-${tab}`, data-tab-group=slug(skill.name))
            i.ri-star-fill
        else
          a(href='#', data-tab=`trait-${tab}`, data-tab-group=slug(skill.name))
            i.ri-star-line
  h3.skill-name
    .skill-image
      img(src='images/skill/' + slug(skill.name) + '.png')
      img.skill-border(src='images/skill-border/' + skill.rarity + '.png')
    | #{skill.name}
  .skill-description
    p !{skill.description}