if trait
  .trait-section
    h4
      i.gold.ri-gemini-fill
      | &nbsp;Trait
    each traitDescription, idx in trait.description
      .trait-container(class={'is-hidden': (idx > 0)}, data-tab=`trait-${idx}`, data-tab-group=slug(trait.name))
        .trait-type Trait
        .trait-stars
          each _, starIdx in trait.description
            a.star(data-tab=`trait-${starIdx}`, data-tab-group=slug(trait.name))
              i(class={
                'ri-star-fill': idx >= starIdx,
                'ri-star-line': idx < starIdx
              })
        h3.trait-name
          .skill-image
            img(src='images/skill/' + slug(trait.name) + '.png')
            img.skill-border(src='images/skill-border/epic.png')
          | #{trait.name}
          | (Lv.#{idx+1})
        .trait-description
          p !{traitDescription}

.skill-details-section.for-mobile
  each skillsByRank, rankName in skills
    .trait-group(data-rank=rankName)
      h4
        i.gold.ri-gemini-fill
        | &nbsp;#{rankName}
        if rankName === 'Rank 5'
          | &nbsp;(Reaction)
        else if rankName === 'Rank 9'
          | &nbsp;(Basic Attack)
      .ui.grid
        each skill, skillIdx in skillsByRank
          if skill
            .sixteen.wide.tablet.column.eight.wide.computer.column
              .skill-container
                .skill-type #{skill.type}
                if skill.cost
                  .skill-cost
                    span.label
                      i.ri-gemini-fill 
                      | Cost:
                    span.value #{skill.cost}
                if skill.cooldown 
                  .skill-cooldown
                    span.label
                      i.ri-hourglass-2-fill
                      | Cooldown:
                    span.value #{skill.cooldown}
                h3.skill-name
                  .skill-image
                    img(src='images/skill/' + slug(skill.name) + '.png')
                    img.skill-border(src='images/skill-border/' + skill.rarity + '.png')
                  | #{skill.name}
                .skill-description-container
                  .skill-description
                    p !{skill.description}
                  if skill.range
                    div
                      .skill-range
                        img(src='images/range/' + slug(skill.range) + '.png')