each skillsByRank, rankName in skills
  .skill-group
    h4
      i.gold.ri-gemini-fill
      | &nbsp;#{rankName}
    .ui.grid
      each skill, skillIdx in skillsByRank
        if skill.name
          - var isHidden = (skill.tabId && skillIdx > 0 ? 'is-hidden' : '')
          - var isTrait = (rankName !== 'Trait' ? 'eight wide computer' : '')
          .sixteen.wide.tablet.column(class=isHidden, class=isTrait, data-tab=skill.tabId, data-tab-group=slug(skill.name))
            .ui.items
              .item
                .skill-image.ui.image
                  img(src='images/skill/' + slug(skill.name) + '.png')
                  img.skill-border(src='images/skill-border/' + skill.rarity + '.png')
                .content
                  .ui.message(class='is-' + slug(skill.type))
                    .ui.tiny.labels
                      if skill.cost > 0
                        .ui.basic.label
                          i.gold.ri-gemini-fill
                          | &nbsp;Cost: #{skill.cost}
                      if skill.cooldown > 0
                        .ui.basic.label
                          i.gold.ri-hourglass-2-fill
                          | &nbsp;Cooldown: #{skill.cooldown}
                    .skill-type.ui.top.left.attached.tiny.label #{skill.type}
                    h5 #{skill.name}
                    if skill.tabs
                      .ui.pointing.secondary.mini.menu
                        each tab in skill.tabs
                          if skill.tabId == tab
                            .item.active #{tab}
                          else
                            a.item(data-tab=tab, data-tab-group=slug(skill.name)) #{tab}
                    p !{skill.description}

//- <section class="skills-section">
//-   each skls, rankName in skills
//-     h6.rank-title.is-size-5 #{rankName}
//-     <div class="grid is-col-min-16">
//-       each skill, skillIdx in skls
//-         if skill.name
//-           div(class="cell" class=(skill.tabId && skillIdx > 0 ? 'is-hidden' : ''), data-tab=slug(skill.name) data-tab-id=skill.tabId)
//-             <article class="media">
//-               <figure class="media-left">
//-                 <img class="skill-image image is-48x48" src="images/skill/#{slug(skill.name)}.png" />
//-               </figure>
//-               <div class="media-content">
//-                 <div class="content">
//-                   <p>
//-                     <span class="tag is-dark">#{skill.type}</span>&nbsp;
//-                     if skill.name
//-                       <strong>#{skill.name}</strong>
//-                     //- end if skill.name
//-                   </p>
//-                   <p>
//-                     if skill.cost > 0
//-                       <span class="tag is-warning">Cost:&nbsp;
//-                         - var n = 0
//-                         while n++ < skill.cost
//-                           <i class="ri-gemini-fill"></i>
//-                       </span>&nbsp;
//-                     //- end if skill.cost
//-                     if skill.cooldown > 0
//-                       <span class="tag is-warning">Cooldown:&nbsp;
//-                         - var n = 0
//-                         while n++ < skill.cooldown
//-                           <i class="ri-hourglass-2-fill"></i>
//-                       </span>
//-                     //- end if skill.cooldown
//-                   </p>
//-                   if skill.tabs
//-                     <div class="tabs is-small is-toggle is-dark">
//-                       <ul>
//-                         each tab in skill.tabs
//-                           if skill.tabId == tab
//-                             <li><a class="has-background-dark has-text-light">#{tab}</a></li>
//-                           else
//-                             <li><a onclick="openTab('#{slug(skill.name)}', '#{tab}')">#{tab}</a></li>
//-                           //- end if skill.tabId
//-                           //- end each skill.tabs
//-                       </ul>
//-                     </div>
//-                   //- end if skill.tabs
//-                   <p>!{skill.description}</p>
//-                   if skill.keywords
//-                     <article class="keywords message is-small">
//-                       each description, word in skill.keywords
//-                         <div class="message-body">
//-                           <p>
//-                             | !{word}
//-                             <br />
//-                             | !{description}
//-                           </p>
//-                         </div>
//-                       //- end each skill.keywords
//-                     </article>
//-                   //- end if skill.keywords
//-                 </div>
//-                 if skill.range
//-                   <article class="media">
//-                     <figure class="media-left">
//-                       <img class="range-image image is-64x64" src="images/range/#{slug(skill.range)}.jpg" />
//-                     </figure>
//-                     if skill.height
//-                       <div class="media-content">
//-                         <div class="content">
//-                           <table class="range-table table is-fullwidth is-narrow is-size-7">
//-                             <tbody>
//-                               <tr>
//-                                 <td>Range</td>
//-                                 <td>#{skill.range}</td>
//-                               </tr>
//-                               <tr>
//-                                 <td>Height Range</td>
//-                                 <td><i class="ri-arrow-down-fill"></i>#{skill.height[0]} - <i class="ri-arrow-up-fill"></i>#{skill.height[1]}</td>
//-                               </tr>
//-                               if skill.height2
//-                                 <tr>
//-                                   <td>AoE Height</td>
//-                                   <td><i class="ri-arrow-down-fill"></i>#{skill.height2[0]} - <i class="ri-arrow-up-fill"></i>#{skill.height2[1]}</td>
//-                                 </tr>
//-                               //- end if skill.height2
//-                           </tbody>
//-                         </table>
//-                       </div>
//-                     //- end if skill.height
//-                   </article>
//-                 //- end if skill.range
//-               </div>
//-             </article>
//-           //- end div.cell
//-         //- end if skill
//-       //- end each skls
//-     </div>
//-   //- end each skills
//- </section>