each skillsByRank, rankName in skills
  .skill-group
    h4
      i.gold.ri-gemini-fill
      | &nbsp;#{rankName}
    .ui.grid
      each skill, skillIdx in skillsByRank
        if skill.name
          - var isHidden = (skill.tabId && skillIdx > 0 ? 'is-hidden' : '')
          - var isTrait = (rankName !== 'Trait' ? 'eight wide computer' : '')
          .sixteen.wide.tablet.column(class=isHidden, class=isTrait, data-tab=skill.tabId, data-tab-group=slug(skill.name))
            .ui.items
              .item
                .skill-image.ui.image
                  img(src='images/skill/' + slug(skill.name) + '.png')
                  img.skill-border(src='images/skill-border/' + skill.rarity + '.png')
                .content
                  .ui.segments
                    .ui.segment(class='is-' + slug(skill.type))
                      .ui.tiny.labels
                        if skill.cost > 0
                          .ui.basic.label
                            i.gold.ri-gemini-fill
                            | &nbsp;Cost: #{skill.cost}
                        if skill.cooldown > 0
                          .ui.basic.label
                            i.gold.ri-hourglass-2-fill
                            | &nbsp;Cooldown: #{skill.cooldown}
                      .skill-type.ui.top.left.attached.tiny.label #{skill.type}
                      h5 #{skill.name}
                      if skill.tabs
                        .ui.pointing.secondary.mini.menu
                          each tab in skill.tabs
                            if skill.tabId == tab
                              .item.active #{tab}
                            else
                              a.item(data-tab=tab, data-tab-group=slug(skill.name)) #{tab}
                      p !{skill.description}
                    if skill.keywords
                      .ui.secondary.segment
                        each description, word in skill.keywords
                          if description
                            p !{word}: !{description}
                  if skill.range
                    .skill-range.flex-box
                      .flex-box-left
                        img.range-image(src='images/range/' + slug(skill.range) + '.jpg')
                      .flex-box-right
                        if skill.range !== 'self'
                          table.ui.very.compact.unstackable.table
                            tbody
                              tr
                                td Range
                                td #{skill.range}
                              if skill.height
                                tr
                                  td Height Range
                                  td 
                                    i.ri-arrow-down-fill
                                    | #{skill.height[0]} - 
                                    i.ri-arrow-up-fill
                                    | #{skill.height[1]}
                              if skill.height2
                                tr
                                  td Effect Height
                                  td 
                                    i.ri-arrow-down-fill
                                    | #{skill.height2[0]} - 
                                    i.ri-arrow-up-fill
                                    | #{skill.height2[1]}
