<html data-theme="light">

include includes/head.pug

body.chara-home.for-mobile
  .ui.container
    h2 Characters

    .rarity.filter
      p Filter Rarity
      each rarity in ['Legendary', 'Epic', 'Rare', 'Common']
        a(data-rarity=rarity)
          img(src=`images/rarity/${slug(rarity)}.webp`)

    .role.filter
      p Filter Role
      each role in ['Breaker', 'Seeker', 'Defender', 'Destroyer', 'Watcher']
        a(data-role=role)
          img(src=`images/role/${slug(role)}.webp`)
    
    .faction.filter
      p Faction Filter
      each faction in ['Aggression', 'Alacrity', 'Discipline', 'Drifter', 'Fortitude', 'Iria', 'Papal States', 'Sword ' + 'of Convallaria', 'The Union', 'Vlder']
        a(data-faction=faction)
          img(src=`images/faction/${slug(faction)}.webp`)

    .chara-container
      each chara in characters
        .chara-item(data-rarity=chara.rarity, data-role=chara.role, data-factions=chara.factions.join(','))
          .image-left
            img.rarity-image(src=`images/rarity/${slug(chara.rarity)}.webp`)
            br
            img.role-image(src=`images/role/${slug(chara.role)}.webp`)
          img.chara-image(src=`images/sprite/${chara.name}.webp`)
          a(href=slug(chara.name) + '.html') #{chara.name}

</html>